/*Resentando estilos*/
* {	margin: 0; padding: 0; }

@font-face {
     font-family: PoppinsSemiBold;
     src: url('src/fonte/Poppins-SemiBold.ttf');
}

@font-face {
     font-family: PoppinsBold;
     src: url('src/fonte/Poppins-Bold.ttf');
}

@font-face {
     font-family: PoppinsLight;
     src: url('src/fonte/Poppins-Light.ttf');
}

body {
	font-family: PoppinsSemiBold;
	color: #383838;
}

section#home {
	background-image: url('src/images/fundo-home.png');
	background-size: cover;
	color: #fff;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#home .triangle{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 10%;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 4px;
}

section#home h1 {
	font-size: 60px;
	line-height: 75px;
}

section .main-btn {
    background-color: #fff;
    text-transform: uppercase;
    padding: 11px 83px;
    padding-top: 13px;
    font-weight: 700;
    font: 17px PoppinsBold;
    color: #383838;
    border: 0px;
    margin-top: 60px;
}

section#categories {
	width: 85%;
	margin: 40px auto;
	margin-bottom: 100px;
}

section#categories h2 {
	font-size: 50px;
}

section#categories span {
	font-size: 20px;
	font-weight: bold;
}

#posts {
	display: flex;
	flex-wrap: wrap;
	color: #fff;
	margin-top: 50px;
}

#posts h2 {
	font-size: 50px !important;
	margin-bottom: 5px !important;
}

#posts p {
	font-size: 20px;
}

#rows {
	display: flex;
	flex-grow: 1;
}

.card {
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 320px;
	max-height: 320px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#nature {
	background-image: url('src/images/fundo-nature.png');
	flex-grow: 1;
}

#daily {
	background-image: url('src/images/fundo-daily.png');
	flex-grow: 3;
}

#together {
	background-image: url('src/images/fundo-together.png');
	justify-content: center;
	flex-grow: 4;
}

#analysis {
	background-image: url('src/images/fundo-analysis.png');
	align-items: flex-end;
	flex-grow: 3;
}

#pictures {
	background-image: url('src/images/fundo-pictures.png');
	flex-grow: 1;
}

.m-r-30 {
	margin-right: 30px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-t-10p {
	margin-top: 10%;
}

section#graphics {
	background-color: #f4f4f4;
}

section#graphics .container {
	width: 85%;
	margin: 0 auto;
}

section#graphics .title {
    position: relative;
	font-size: 50px;
    top: 100px;
}

section#graphics h3 {
    position: relative;
	top: 100px;
}

section#graphics .rows {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.graphic {
	width: 170px;
	color: #fff;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.plan {
	background-color: #005499;
	padding-left: 20px;
	padding-top: 25px;
	padding-bottom: 15px;
}

.plan h2 {
	font-size: 35px;
	line-height: 30px;
}

.plan span {
	font-size: 20px;
}

.graphic p {
	background-color: #0088ed;
	font-size: 12px;
	font-family: PoppinsLight;
	padding: 15px;
	line-height: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.graphic2 p { height: 100px; }
.graphic3 p { height: 150px; }
.graphic4 p { height: 200px; }
.graphic5 p { height: 250px; }
.graphic6 p { height: 300px; }